/* General Styles */
body {
  background-image: url("background1.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
 
}

/* Navigation Menu */
nav.menu {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 200px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

nav.menu.show {
  opacity: 1;
  visibility: visible;
}

nav.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav.menu ul li {
  margin-bottom: 0;
}

nav.menu ul li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px;
  transition: background-color 0.3s ease;
}

nav.menu ul li a:hover {
  background-color: #e0e0e0;
}

#menuButton {
  position: fixed;
  top: 10px;
  right: 10px;
  background-image: url("menuicon.jpg");
  background-size: cover;
  width: 40px;
  height: 45px;
  cursor: pointer;
  transition: transform 0.3s ease;
  z-index: 2;
}

#menuButton.hide {
  transform: translateX(-500%);
}

/* Form Styles */
form {
  display: inline-block;
  text-align: left;
  padding: 100PX;
  border: 2px solid #242020;
  border-radius: 10px;
  background-color: gray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form.dele {
  display: inline-block;
  text-align: left;
  padding: 10px;
  border: 2px solid #242020;
  border-radius: 10px;
  background-color: gray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
  margin-bottom: 10px;
  display: block;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  padding: 10px ;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #555;
}

/* About Us Section */
.container_aboutus {
  margin: 50px auto;
  text-align: center;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Home Content */
.Home-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.Home-content h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 36px;
  color: #333;
}

.Home-content p {
  font-size: 18px;
  color: #555;
  line-height: 1.5;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.footer {
  max-width: 800px;
  margin: 0 auto;
}

/* Artwork Styles */
.artwork-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.artwork-item {
  width: 33.33%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

.artwork-image {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: contain;
  border-radius: 5px;
}

.artwork-title {
  font-size: 18px;
  color: #333;
  margin-top: 10px;
}

.artwork-description {
  font-size: 14px;
  color: #555;
  margin-top: 10px;
}

.artwork-link {
  font-size: 14px;
  color: #333;
  text-decoration: none;
  margin-top: 10px;
}

.artwork-link:hover {
  text-decoration: underline;
}

/* Login Container */
.login-container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 3px; 
}

.login-container input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: gray;
  border: none;
  cursor: pointer;
}

h3.user{
  align-items: center;
}